
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/SGPC.PNG' %}"/>
    {% load bootstrap4 %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'compte/css/creerProduit.css' %}" rel="stylesheet" type="text/css">
    <title>Créer un produit</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <h1>Création d'un nouveau produit</h1>
        <form action="{% url 'create_produit' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    {{ form.PRO_NOM|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.PRO_MARQUE|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.PRO_PRIX_CATALOGUE|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.PRO_CATEGORIE|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.PRO_QUANTITESTOCK|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.PRO_IMAGE|as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ form.PRO_DESCRIPTION|as_crispy_field }}
                </div>
            </div>
            <p>Les champs comprenant un <span class="asteriskField">*</span>  sont obligatoire</p>
            <a href="{% url 'admin' %}"><button class="btn btn-danger">Annuler</button> </a>
            <input type="submit" class="btn btn-success" value="Créer">
        </form>
        <br>
                        <a href="{% url 'creerMarque'%}"> <button class="btn btn-success">Créer marque</button></a><a href="{% url 'creerCategorie'%}"> <button class="btn btn-success">Créer catégorie</button></a>


    </div>
</body>
</html>