
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    <meta charset="UTF-8">
    <!-- load du css de bootstrap -->
    {% bootstrap_css %}
    <title>Liste des commandes exprédiées</title>
</head>
<body>
{% include 'nav.html' %}
    <div class="container">
        <div class="table-responsive-md" style="text-align: center;margin-top: 50px">
           <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Numéro de commande</th>
                  <th scope="col">Nom du client</th>
                    <th scope="col">Date</th>
                    <th scope="col">Statut</th>
                    <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for comExp in commandesExpediees %}
                <tr>
                  <td>{{comExp.id }}</td>
                  <td>{{comExp.COM_UTI_ID.UTI_NOM}}</td>
                  <td>{{comExp.COM_DATE}} CHF</td>
                  <td>{{comExp.COM_STATUT}}</td>
                  <td><a href="{% url 'detail_commande' comExp.id %}"><button class="btn btn-primary">Détail</button> </a> </td>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</body>
</html>