<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    {% load compte_extras %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/SGPC.PNG' %}"/>
    <!-- load du css de bootstrap -->
    {% bootstrap_css %}
    <title>Liste des rendez_vous</title>
</head>
<body>
{% include 'nav.html' %}
    <div class="container">
    <br>
        <form method="get">
            {{rdv_filtrer.form.as_p}} <input type="submit" class="btn btn-primary btn-sm" value="Filtrer">
        </form>
        {% if rdv_page_obj %}
        <div class="table-responsive-md" style="text-align: center;margin-top: 50px">
           <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Numéro de rendez-vous</th>
                  <th scope="col">Nom du client</th>
                    <th scope="col">Date</th>
                    <th scope="col">Nom du service</th>
                    <th scope="col">Statut</th>
                    <th scope="col"></th>

                </tr>
              </thead>
              <tbody>
              {% for rdv in rdv_page_obj %}
                <tr>
                  <td>{{rdv.id }}</td>
                  <td>{{rdv.RES_UTI_ID.UTI_NOM}} {{rdv.RES_UTI_ID.UTI_PRENOM}}</td>
                  <td>{{rdv.RES_DATE}}</td>
                  <td> {{ rdv.RES_SER_ID.SER_NOM }}</td>
                  <td> {{ rdv.RES_STATUT }}</td>
                  <td><a href="{% url 'detail_RDV' rdv.id %}"><button class="btn btn-primary">Détail</button> </a> </td>
              {% endfor %}
              </tbody>
            </table>
            {% if rdv_page_obj.has_previous %}
              <a href="{% my_url rdv_page_obj.previous_page_number 'page' request.GET.urlencode %}"><button class="btn btn-primary btn-sm">Page précédente</button></a>
            {% endif %}
            {% if rdv_page_obj.has_next %}
              <a href="{% my_url rdv_page_obj.next_page_number 'page' request.GET.urlencode %}"><button class="btn btn-primary btn-sm">Page suivante</button></a>
            {% endif %}
        </div>
    {% else %}
            <h1>Aucun résultat correspondant à votre requête</h1>
    {% endif %}
    </div>
</body>
</html>
