
<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- load du css de bootstrap -->
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/SGPC.PNG' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'compte/css/ModifDonnees.css' %}" rel="stylesheet" type="text/css">
    <title>Modification des données</title>
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="form-group">
            <form action="{% url 'modif_donnees' user.id %}" method="post">
                <h1>Modification de mes données</h1>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            {{ form.UTI_NOM|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.UTI_PRENOM|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.UTI_EMAIL|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.UTI_DATENAISSANCE|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.UTI_NUMEROTEL|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.UTI_NUMERORUE|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.UTI_RUE|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.UTI_CODEPOSTALE|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.UTI_LOCALITE|as_crispy_field }}
                        </div>
                    </div>
                <input type="submit" class="btn btn-primary" value="Modifier">
            </form>
            <br>
            <p>Les champs comprenant un <span class="asteriskField">*</span>  sont obligatoire</p>
        </div>

    </div>
</body>
</html>