<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    {% load crispy_forms_tags %}
    <meta charset="UTF-8">
    <!-- load du css de bootstrap -->
    {% bootstrap_css %}
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/SGPC.PNG' %}"/>
    <title>Numéro de suivi</title>
</head>
<body>
{% include 'nav.html' %}
    <div class="container">
        <br>
        <h1>Entrer le numéro de suivi</h1>
        <br>
        <div class="form-group">
            <form method="post" action="">
                {% csrf_token %}
                <div class="col-12">
                    {{ form.COM_NUMEROSUIVI|as_crispy_field }}
                </div>
                <br>
                <input type="submit" class="btn btn-primary" value="Modifier">
                <a href="{% url 'admin' %}"><button class="btn btn-danger">Annuler</button></a><br>
            </form>
        </div>

    </div>
</body>
</html>
