{#réinitialisation de mot de passe // inspiré de https://www.youtube.com/watch?v=sFPcd6myZrY#}
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
     {% load static %}
     {% load bootstrap4 %}
   <meta charset="utf-8">
   {% bootstrap_css %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static 'compte/css/login.css' %}">
   <title>Mot de passe oublié...</title>
 </head>
 <body>
 {% include 'nav.html' %}
  <div class="container" style="margin-top: 50px">
        <div class="form-group" style="vertical-align: center">
        <h3>Email envoyé</h3>
        <br>

        <p> Nous vous avons envoyé les instructions pour réinitialiser votre mot de passe, <span style="font-weight: bold">si un compte existe avec l'adresse mail introduite vous devriez les recevoir rapidement.</span></p>

        <p>Si vous ne recevez pas de mail, veuillez vous assurer d'avoir introduit la bonne adresse avec laquelle vous vous êtes inscrit et/ou consultez votre boîte de spam.</p>
        </div>
  </div>
</body>
</html>
