{#réinitialisation de mot de passe // inspiré de https://www.youtube.com/watch?v=sFPcd6myZrY#}
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
     {% load static %}
     {% load bootstrap4 %}
   <meta charset="utf-8">
   {% bootstrap_css %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static 'compte/css/login.css' %}">
   <title>Mot de passe oublié...</title>
 </head>
 <body>
 {% include 'nav.html' %}
   <h3>Réinitialisation de votre mot de passe</h3>

   <p>Vous avez oublié votre mot de passe ? <br>Veuillez entrer votre adresse mail ci-dessous et nous vous enverrons par mail les instructions pour en définir un nouveau.</p>

   <form method="post">
       {% csrf_token %}
       {{form}}
       <input type="Submit" name="Send email" value="Confirmer">
   </form>
</body>
</html>
