
<footer>
    {% load static %}
    <div class="footer">
        <div class="inner_footer">
            <div class="logo_container">
                <img src="{% static 'compte/images/SGPC.PNG' %}" alt="logo">
            </div>
            <div class="footer_third">
                <h1>Besoin d'aide ?</h1>
                <a href="#"></a>
                <a href="#">exemple 1</a>
                <a href="#">exemple 2</a>
            </div>
            <div class="footer_third">
                <h1>En savoir plus</h1>
                <a href="#">Brochure</a>
            </div>
            <div class="footer_third">
                <h1>Suivez-nous</h1>
                <li><a href="https://www.facebook.com/SGPERFORMANCESCUSTOMS/" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/sgperformancescustoms/?hl=fr" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <span>
                    Route de la Broye 53 <br>
                    1623 Semsales
                </span>
            </div>
        </div>
    </div>
</footer>
