<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'compte/images/SGPC.PNG' %}"/>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <title>Commande annulée</title>
    <link rel="stylesheet" href="{% static 'catalogue/css/detailCommande.css' %}">
</head>
<body>
  {% include 'nav.html' %}
    <h1>Quelque chose cloche...</h1>
    <br>
    <br>
    <h2>Il semblerait que vous ayez annulé votre commande</h2>
</body>
</html>
