<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="{% static 'compte/css/cssNavFooter.css'%}">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--    <link href="{% static 'compte/css/contact.css' %}" rel="stylesheet" type="text/css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>Contact</title>
</head>
<body>
    {% include 'nav.html' %}
    <div>
        <h3>panier</h3>
    </div>
</body>
</html>