body, html{
    padding: 0;
    margin: 0;
}

body{
    font-family: Calibri, sans-serif;
}

a, a:hover {
    text-decoration: none;
}

.table .table-bordered td {
    vertical-align: center;
}

.img-responsive{
    height:100px;
}
